@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dee3f89e;
  --foreground: #171717;
  --primary: #25c37c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


